@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
    background-color: #000000;
    height: 100vh;
    font-family: 'Poppins', sans-serif !important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("../assets/images/jumbotron.jpg");
    height: 100vh;
}

.navbar {
    display: inline;
}

#miom img {
    object-fit: cover;
}

#social_icon {
    font-size: 15px;
}

/* ==========================
    Specific Media Queries
========================== */


@media only screen and (max-width: 600px) {

    #miom img {
        width: 150px;
        height: 150px;
    }

}

@media only screen and (max-width: 768px) {

    #hero_text {
        display: none;
    }

}